body{
    font-family:Georgia, 'Times New Roman', Times, serif;
   
    background-color: black;



}


.titulo{
    margin: 15px; 
    color:blueviolet;
 }

 .titulohome{

    margin: 15px; 
    color:white;

 }